html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

.container {
    display: grid;
    grid-template-rows: 60px auto; 
    height: 100vh;
    width: 100vw;
}

.cabeca, .pedal {
    width: 100%;
    height: 100%;
}

iframe {
    width: 100%;
    height: 100%;
    border: none;
    overflow: hidden;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fullscreen {
    width: 100%;
    height: 100vh;
}
